body[data-theme="dark"] {  

   @import '/src/scss/dark-slider.scss';

   .slider-tab {
      background-color: #8E7F9F;
   }

   .title-styles {
      color: white;
   }

   .header-icon {
      color: white;
      opacity: 0.8;
   }

   .slider-image {
      border: 5px solid #8E7F9F;
   }

   .language {
      background-color: #494949;
   }

   .link-href {
      color: white;
   }

   .project-date {
      background-color: #6A668F;
      color: white;
   }

   header {
      background-color: #353348;
      h1 {
         color: white;
      }
   }

   #about {
      background-color: #47445F;
      h1 span {
         color: white;
      }
      .polaroid span {
         background:  #6A668F;
      }
      .card {
         background: #6A668F;
         color: white;
      }
   }

   #portfolio {
      background: #47445F;
      .section-title {
         color: white !important;
      }
      .foto div {
         background: #625D83;
      }
      .project-title-settings {
         color: white;
      }
   }
   .text-black{
      color:white;
   }
   #resume {
      filter: brightness(80%);
      background: #47445F;
      .section-title {
         color: white !important;
      }

      .experience-badge {
         background: #8E7F9F !important;
         color: white;
      }

      .main-badge {
         background: #8E7F9F !important;
      }

      .vertical-timeline-element-date {
         color: white;
      }

      .vertical-timeline-element-icon {
         background: #665874!important;
      }
      @media only screen and (max-width: 1169px) { 
         .vertical-timeline-element-date {
            color: black;
         }
      }
   }

   .modal-inside .modal-content {
      background: #625D83;
      color: white;
   }

   .close-icon {
      color: white;
   }
}
